{% extends "base.html" %}
{% block title %}Task Management System{% endblock %}
{% block content %}
    <h1 align="center">My Tasks</h1>
    <ul class="list-group list-group-flush" id="tasks">
        {% for task in user.tasks %}
        <li class="list-group-item">
            {{ task.taskTitle }}
            <button type="button" class="close" onClick="deleteTask"({{task.taskId}})>
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <div class="form-group">
            <label for="taskTitle">Task Title</label>
            <input type="text" class="form-control" id="taskTitle" name="taskTitle">
        </div>
        <div class="form-group">
            <label for="taskDescription">Task Description</label>
            <textarea class="form-control" id="taskDescription" name="taskDescription"></textarea>
        </div>
        
        <div class="form-group">
            <label for="taskStatus">Task Status</label>
            <select class="form-control" id="taskStatus" name="taskStatus">
                <option value="Pending">Pending</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
    </form>
{% endblock %}
